/*
* Variables couleurs
*/

:root {
    --primary: #ffd52c;
    --secondary: #ff5c00;
    --tertiary: #c72d04;
    --text: var(--primary);
    --title: var(--primary);
    --bg: #111;

    scrollbar-color: var(--primary-color) var(--secondary-color);
}

$colors: ('primary', 'secondary', 'text', 'title');

$bgColors: ('primary');

$borderColors: ('primary');
