/*-----------------------------------------------------------------------------------------------------
  [utilities:font]
-------------------------------------------------------------------------------------------------------*/

/*
* Font-family
*/
@each $font, $value in $fontFamily {
    .u-font-#{$font} {
        font-family:
            #{$value},
            'sans-serif' !important;
    }
}

.u-font-secondary {
    font-weight: 400 !important;
}

/*
* Font-size
*/
@each $font, $value in $fontSizes {
    .u-font-#{$font} {
        font-size: #{$value} !important;
    }
}

@each $bp, $bp_value in $breakpoints {
    @include mq(max, bp(#{$bp})) {
        @each $font, $value in $fontSizes {
            .u-font-#{$font} {
                font-size: #{$value} !important;
            }
        }
    }
}

/*
* Font-weight
*/
@each $weight, $value in $fontWeight {
    .u-font-#{$weight} {
        font-weight: #{$value} !important;
    }
}
