/*-----------------------------------------------------------------------------------------------------
  [utilities:spacing]
-------------------------------------------------------------------------------------------------------*/

@each $size, $size_value in $spacing {
    // margin
    .u-mt-#{$size} {
        margin-top: $size_value !important;
    }
    .u-mr-#{$size} {
        margin-right: $size_value !important;
    }
    .u-mb-#{$size} {
        margin-bottom: $size_value !important;
    }
    .u-ml-#{$size} {
        margin-left: $size_value !important;
    }
    .u-mx-#{$size} {
        margin-left: $size_value !important;
        margin-right: $size_value !important;
    }
    .u-my-#{$size} {
        margin-top: $size_value !important;
        margin-bottom: $size_value !important;
    }
    .u-m-#{$size} {
        margin: $size_value !important;
    }

    // padding
    .u-pt-#{$size} {
        padding-top: $size_value !important;
    }
    .u-pr-#{$size} {
        padding-right: $size_value !important;
    }
    .u-pb-#{$size} {
        padding-bottom: $size_value !important;
    }
    .u-pl-#{$size} {
        padding-left: $size_value !important;
    }
    .u-px-#{$size} {
        padding-left: $size_value !important;
        padding-right: $size_value !important;
    }
    .u-py-#{$size} {
        padding-top: $size_value !important;
        padding-bottom: $size_value !important;
    }
    .u-p-#{$size} {
        padding: $size_value !important;
    }
}

@each $bp, $bp_value in $breakpoints {
    @include mq(max, bp(#{$bp})) {
        @each $size, $size_value in $spacing {
            // margin
            .u-mt-#{$size}\@#{$bp} {
                margin-top: $size_value !important;
            }
            .u-mr-#{$size}\@#{$bp} {
                margin-right: $size_value !important;
            }
            .u-mb-#{$size}\@#{$bp} {
                margin-bottom: $size_value !important;
            }
            .u-ml-#{$size}\@#{$bp} {
                margin-left: $size_value !important;
            }
            .u-mx-#{$size}\@#{$bp} {
                margin-left: $size_value !important;
                margin-right: $size_value !important;
            }
            .u-my-#{$size}\@#{$bp} {
                margin-top: $size_value !important;
                margin-bottom: $size_value !important;
            }
            .u-m-#{$size}\@#{$bp} {
                margin: $size_value !important;
            }

            // padding
            .u-pt-#{$size}\@#{$bp} {
                padding-top: $size_value !important;
            }
            .u-pr-#{$size}\@#{$bp} {
                padding-right: $size_value !important;
            }
            .u-pb-#{$size}\@#{$bp} {
                padding-bottom: $size_value !important;
            }
            .u-pl-#{$size}\@#{$bp} {
                padding-left: $size_value !important;
            }
            .u-px-#{$size}\@#{$bp} {
                padding-left: $size_value !important;
                padding-right: $size_value !important;
            }
            .u-py-#{$size}\@#{$bp} {
                padding-top: $size_value !important;
                padding-bottom: $size_value !important;
            }
            .u-p-#{$size}\@#{$bp} {
                padding: $size_value !important;
            }
        }
    }
}
