/*
* Variables concernant les breakpoints
* > utilisation : bp($key)
* > a utiliser avec le mixin mq()
*/

$breakpoints: (
    'xxlg': 1440px,
    'xlg': 1280px,
    'lg': 1024px,
    'md': 768px,
    'sm': 576px,
    'xs': 400px,
);

@function bp($key) {
    @if map-has-key($breakpoints, $key) {
        @return map-get($breakpoints, $key);
    }

    @warn "Unknown `#{$key}` in $breakpoints.";
    @return null;
}
