/*
* Variables Layout
*/

:root {
    --layoutMaxWidth: 144rem;
    --layoutPadding: 2.4rem;
}

$maxWidth: (
    '1200': 120rem,
    '800': 80rem,
    '650': 65rem,
    '450': 45rem,
    '400': 40rem,
    '350': 35rem,
    '300': 30rem,
    'none': none,
);
