/*
* Organisation des Z-index
*/

:root {
    --zindex-below: -1;
    --zindex-default: auto;
    --zindex-above: 1;
    --zindex-absolute: 10;
    --zindex-sticky: 50;
    --zindex-fixed: 100;
    --zindex-overlay: 5000;
    --zindex-popin: 6000;
    --zindex-skyrocket: 9999;
}