/*
* Button
*/
.c-button {
    --btnHeight: 4rem;
    --btnBgColor: none;
    --btnBorderColor: transparent;
    --btnColor: var(--text);

    min-height: var(--btnHeight);
    background: var(--btnBgColor);
    border: 1px solid var(--btnBorderColor);
    padding: 0;
    color: var(--btnColor);
    text-transform: uppercase;
    font-weight: 700;

    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 3.2rem;

    &:not([disabled]) {
        cursor: pointer;
    }

    // desactive les survoles en mobile
    @media (hover: hover) and (pointer: fine) {
        &:hover:not([disabled]) {
        }
    }

    &:disabled {
        cursor: default;
    }
}

/*
* Variantes
*/
.c-button--primary {
    --btnBgColor: transparent;

    --btnColor: var(--primary);

    @media (hover: hover) and (pointer: fine) {
        &:hover:not([disabled]) {
            --btnBgColor: var(--primary);
            --btnColor: var(--bg);
        }
    }

    &.outline {
        --btnBorderColor: var(--primary);
    }
}

.c-button--secondary {
    --btnColor: var(--secondary);

    @media (hover: hover) and (pointer: fine) {
        &:hover:not([disabled]) {
            --btnBgColor: var(--secondary);
            --btnColor: var(--bg);
        }
    }
}

/*
* Taille
*/
.c-button--sm {
    --btnHeight: 3.2rem;
}
.c-button--md {
    --btnHeight: 4rem;
}
.c-button--lg {
    --btnHeight: 5.4rem;
}

/*
* Avec icone
*/
.c-button--icon-left {
    padding-left: 1rem;
    &:before {
        content: '';
        margin-right: 0.4rem;
        display: block;
    }
}

.c-button--icon-right {
    padding-right: 1rem;
    &:after {
        content: '';
        margin-left: 0.4rem;
        display: block;
    }
}

.c-button[class*='c-icon-']:not([class*='c-button--icon-']) {
    padding: 0;
    height: var(--btnHeight);
    width: var(--btnHeight);
    border-radius: var(--btnHeight);

    .c-button__content {
        clip: rect(0 0 0 0);
        clip: path(inset 100%);
        height: 1px;
        width: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }

    &:before {
        content: '';
        margin-left: 0;
        margin-right: 0;
        flex-shrink: 0;
        transform: translateZ(0);
    }
}
