@import '_button';
@import '_content';
@import '_diagnostic';
@import '_footer';
@import '_form-input';
@import '_form-radio';
@import '_form';
@import '_game-card';
@import '_header';
@import '_icons';
@import '_injury-area';
@import '_layout';
@import '_list';
@import '_patient';
@import '_title';

//@import '_monitor';
