/*
* content
*/

.c-content {
    padding: 2rem;
}

// HP
.c-content--hp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    gap: 4.8rem;

    width: 100%;

    @media (orientation: landscape) {
        flex-direction: row;
    }

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

// Page
.c-content--page {
    padding: 4rem;
    flex-grow: 1;
}
