/*-----------------------------------------------------------------------------------------------------
  [component:content]
-------------------------------------------------------------------------------------------------------*/

.c-content {
    padding: 4rem 0 0 0;
}

// HP
.c-content--hp {
    padding: 6rem 0 0 0;
    text-align: center;
}

// Page
.c-content--page {
}

// Game
.c-content--game {
    text-align: center;
}
