/*-----------------------------------------------------------------------------------------------------
  [component:form-select]
  Source : https://github.com/filamentgroup/select-css
-------------------------------------------------------------------------------------------------------*/

.c-form-select {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text);
    line-height: 1.3;
    padding: 1rem;
    box-shadow: none;
    height: 4rem;
    width: 100%;
    max-width: 480px;
    //max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid grey;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('../img/select-arrow.svg');
    background-position: right 0.7em top 50%;
    background-repeat: no-repeat;
    background-size: 1rem auto;
}
/* Hide arrow icon in IE browsers */
.c-form-select::-ms-expand {
    display: none;
}
/* Hover style */
.c-form-select:hover {
    border-color: var(--primary);
}
/* Focus style */
.c-form-select:focus {
    border-color: var(--primary);
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    color: var(--primary);
}

/* Set options to normal weight */
.c-form-select option {
    font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .c-form-select,
:root:lang(ar) .c-form-select,
:root:lang(iw) .c-form-select {
    background-position: left 0.7em top 50%, 0 0;
    padding: 0.6em 0.8em 0.5em 1.4em;
}
