/*-----------------------------------------------------------------------------------------------------
  [component:form]
-------------------------------------------------------------------------------------------------------*/ /*
* Form basics
*/
.c-form {
    max-width: 60rem;
}

/*
* Fieldset & legend
*/
.c-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.c-legend {
    margin: 0;
}

/*
* Field
*/
.c-field {
    margin-bottom: 4rem;
}

.c-field--radio {
    .c-field__wrapper {
        display: flex;
        gap: 1.6rem;
        align-items: center;
    }

    .c-label {
        margin-bottom: 0;
    }
}

/*
* Label
*/
.c-label {
    margin-bottom: 0.8rem;
    display: block;
    font-size: 1.6rem;
    color: var(--text);
    font-weight: 400;
    cursor: pointer;

    i {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.c-label__hint {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.8rem;
}

// Reset
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
