/*
* Radio
*/

.c-radio {
    --inputCheckedColor: var(--primary);
    --inputBorderColor: white;
    --inputWidth: 2rem;

    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--inputWidth);

    margin: 0;
    padding: 0;
    appearance: none;
    width: var(--inputWidth);
    height: var(--inputWidth);
    display: block;
    border: 1px solid var(--inputBorderColor);
    background: transparent;
    position: relative;
    cursor: pointer;

    flex-shrink: 0;

    &:after {
        content: '';
        display: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.6rem auto;
        border-radius: var(--inputWidth);

        background-color: var(--inputCheckedColor);
        width: calc(var(--inputWidth) - 0.8rem);
        height: calc(var(--inputWidth) - 0.8rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:checked {
        &:after {
            display: block;
        }
    }

    &:disabled {
        background-color: var(--neutral-100);
        cursor: default;
    }
}
