/*-----------------------------------------------------------------------------------------------------
  [component:form]
-------------------------------------------------------------------------------------------------------*/ /*
* Form basics
*/
.c-form {
}

/*
* Fieldset & legend
*/
.c-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.c-legend {
    margin: 0;
}

/*
* Label
*/
.c-label {
    padding-bottom: 0.4rem;
    display: block;
    font-size: 1.6rem;
    color: var(--text);
    font-weight: 400;
    line-height: 1.4;
}

// Reset
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
