/*-----------------------------------------------------------------------------------------------------
  [component:input]
-------------------------------------------------------------------------------------------------------*/

.c-form-input {
    border-color: #ff0000;
    &:focus {
    }
}
