/*-----------------------------------------------------------------------------------------------------
  [component:input]
-------------------------------------------------------------------------------------------------------*/

.c-input {
    width: 100%;
    padding: 1.6rem;
    height: 6rem;
    font-size: 4rem;
    color: black;
}
