/*-----------------------------------------------------------------------------------------------------
  [component:header]
-------------------------------------------------------------------------------------------------------*/
.c-header {
    --headerSize: 6.5rem;

    background-color: var(--bg);
    flex-shrink: 0;
    @media (orientation: portrait) {
        position: sticky;
        top: 0;
        z-index: var(--zindex-sticky);
    }
}

.c-header__content {
    display: flex;
    align-items: center;
    padding: 1rem;

    @media (orientation: landscape) {
        flex-direction: column;
        justify-content: space-between;

        height: 100vh;
        width: var(--headerSize);

        position: sticky;
        top: 0;
        z-index: var(--zindex-sticky);

        border-right: 1px solid white;
    }

    @media (orientation: portrait) {
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        height: var(--headerSize);

        border-bottom: 1px solid white;
    }
}

.c-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;

    @media (orientation: landscape) {
        flex-direction: column;
    }

    @media (orientation: portrait) {
        flex-direction: row;
    }
}

.c-header__logo {
    img {
        max-width: 4.5rem;
    }
}
