/*
* Injury area
*/

.c-injuryArea {
    position: relative;
    display: inline-block;
}

.c-injuryArea__body {
    height: 60vh;
}

.c-injuryArea__grid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        '. left_arm . left_leg'
        'Head thorax pelvis .'
        '. right_arm . right_leg';
}

.head {
    grid-area: Head;
}

.left_arm {
    grid-area: left_arm;
}

.right_arm {
    grid-area: right_arm;
}
.thorax {
    grid-area: thorax;
}
.pelvis {
    grid-area: pelvis;
}
.left_leg {
    grid-area: left_leg;
}
.right_leg {
    grid-area: right_leg;
}

.c-injuryArea__gridItem {
    //padding: 1rem;

    .c-button {
        --btnBgColor: rgba(0, 0, 0, 0.6);
        --btnBorderColor: white;
        --btnColor: white;

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
}
