/*-----------------------------------------------------------------------------------------------------
  [component:list]
-------------------------------------------------------------------------------------------------------*/
.c-list {
}

.c-list__item {
    margin-bottom: 0.4rem;
    font-size: 1.4rem;

    span {
        display: inline-block;
        background-color: white;
        color: black;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0 0.4rem;
    }
}

/*
* c-buttonList
*/
.c-buttonList {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 30rem;
    width: 100%;

    .c-button {
        width: 100%;
    }
}

.c-buttonList__item--back {
    margin-top: 3.2rem;
}

/*
* c-gameList
*/
.c-gameList__item {
    margin-bottom: 2rem;
}
