/*-----------------------------------------------------------------------------------------------------
  [component:list]
-------------------------------------------------------------------------------------------------------*/

.c-buttonList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.c-buttonList__item {
    .c-button {
        width: 100%;
    }
}
