/*
* Patient
*/

.c-patient {
    position: relative;
    padding: 0 0 4rem 5rem;

    &:before {
        content: '';
        width: 2px;
        height: calc(100% - 3rem);
        background-color: white;
        position: absolute;
        top: 3rem;
        left: calc(3rem / 2);
    }
}

.c-patient__order {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-patient__title {
    font-size: 2rem;
}

.c-patient__injury {
    p {
        font-size: 1.4rem;
    }
}
