/*-----------------------------------------------------------------------------------------------------
  [component:content]
-------------------------------------------------------------------------------------------------------*/

.c-content {
    padding: 4rem 0 0 0;
    display: flex;

    @media (orientation: landscape) {
        flex-direction: row;
    }

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

// HP
.c-content--hp {
    padding: 6rem 0 0 0;
    text-align: center;
}

// Page
.c-content--page {
}

// Game
.c-content--game {
    text-align: center;
}
