/*-----------------------------------------------------------------------------------------------------
  [component:header]
-------------------------------------------------------------------------------------------------------*/
.c-header {
    padding: 0 var(--layoutPadding);
}
.c-header__content {
}

.c-header__nav {
    padding: 1.2rem 0;
    border-bottom: 2px solid var(--primary);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    position: relative;
}

.c-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 3.2rem;
    text-decoration: none;

    [class*='c-icon'] {
        --iconSize: 2.4rem;
        position: relative;
        top: 0.2rem;
    }
}
