/*-----------------------------------------------------------------------------------------------------
  [component:icons]
-------------------------------------------------------------------------------------------------------*/
/*
* Svg icons
*/
[class*='c-icon-svg'] {
    fill: currentColor;
    width: var(--iconSize);
    height: var(--iconSize);
    display: block;
}

/*
* inline icons width CSS
*/
[class*='c-icon-'] {
    position: relative;
    --iconSize: 2.4rem;

    &:before,
    &:after {
        background-color: currentColor;
        width: var(--iconSize);
        height: var(--iconSize);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        pointer-events: none;
        display: inline-block;
        vertical-align: calc((0.75em - var(--iconSize)) * 0.5);
        flex-shrink: 0;
    }
}

@each $icon in $icons {
    .c-icon-#{$icon} {
        &:before,
        &:after {
            -webkit-mask-image: url('../icons/#{$icon}.svg');
            mask-image: url('../icons/#{$icon}.svg');
        }
    }
}

@each $size, $val in $iconsSize {
    .c-icon--#{$size} {
        --iconSize: #{$val};
    }
}

// Position
.c-icon--left {
    &:before {
        content: '';
    }
}

.c-icon--right {
    &:after {
        content: '';
    }
}
