/*-----------------------------------------------------------------------------------------------------
  [component:logo]
-------------------------------------------------------------------------------------------------------*/

.c-logo {
    --iconSize: 6.4rem;

    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 12.8rem;
    text-transform: uppercase;
    font-weight: 400;
}
