/*-----------------------------------------------------------------------------------------------------
  [component:content]
-------------------------------------------------------------------------------------------------------*/

.c-title {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.c-subtitle {
    font-size: 3rem;
    margin-bottom: 2rem;
}
