<header id="{{ header.id }}" class="c-header {{ header.class }}" role="banner">
    <nav class="c-header__content">
        <a href="index.html" class="c-header__logo">
            <img src="assets/img/logo.svg" alt="Logo" width="45" height="45" />
        </a>
        <nav class="c-header__nav" role="navigation" aria-label="main navigation">
            {% if header.backUrl %}
                <a href="{{ header.backUrl }}" class="c-button c-button--ghost c-icon-arrow-back">
                    <span class="c-button__content">Retour</span>
                </a>
            {% endif %}
            <button href="game-stats.html" class="c-button c-button--ghost c-icon-menu">
                <span class="c-button__content">Ouvrir le menu</span>
            </button>
        </nav>
    </nav>
</header>
