<header id="{{header.id}}" class="c-header {{header.class}}" role="banner">
    <div class="c-header__content c-container">
        <nav class="c-header__nav" role="navigation" aria-label="main navigation">
            {% if header.backUrl %}
            <a
                href="{{header.backUrl}}"
                class="c-button c-button--primary c-button--icon-left c-icon-arrow-left"
            >
                Retour
            </a>
            {% endif %} {% if header.homeBtn %}
            <a href="index.html" class="c-button c-button--primary"> Accueil </a>
            {% endif %}
            <a href="index.html" class="c-header__logo">
                <span class="c-icon-cross c-icon--left" aria-hidden="true"></span>MEDIC
            </a>
            {% if header.statsBtn %}
            <a href="game-stats.html" class="c-button c-button--primary u-ml-auto">Stats</a>
            {% endif %}
        </nav>
    </div>
</header>
