/* 
* Outline pour focus-visible
*/
@mixin accessible_outline {
    --focusOutlineColor: white;

    outline: 2px dotted var(--focusOutlineColor);
    outline-offset: 0.4rem;
}

@mixin sr-only {
    clip: rect(0 0 0 0);
    clip: path(inset 100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/*
* Media queries
* 
* Fonctionne avec la map $breakpoints
*
* Utilisation :
* bp(md) == 960px
* bp(lg) == 1280px
* @include mq(max, bp(lg)) {}
* > @media only screen and (max-width: 1280px) {}
*
* @include mq(min, bp(lg)) {}
* > @media only screen and (min-width: 1280.2px) {}
*
* @include mq(minmax, bp(md), bp(lg)) {}
* > @media only screen and (min-width: 960.2px) and (max-width: 1280px) {}
*/

@mixin mq($scope, $breakpoint, $breakpointMax: '') {
    @if $scope==max {
        @media only screen and (max-width: ($breakpoint)) {
            @content;
        }
    }

    @if $scope==min {
        @media only screen and (min-width: ($breakpoint + 0.2px)) {
            @content;
        }
    }

    @if $scope==minmax {
        @media only screen and (min-width: ($breakpoint + 0.2px)) and (max-width: $breakpointMax) {
            @content;
        }
    }
}
