<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Diagnotique en cours..." %}
{% set body_class = "" %}
{% set content_class = "c-content--page" %}

{% set header = { show: true } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <h1 class="c-title">{{ page_title }}</h1>

    <div class="c-diagnostic">
        <div id="progress" class="c-diagnostic__progress" style=""></div>
        <div id="progress_msg" class="c-diagnostic__text">Merci de patienter...</div>
        <p id="progress_percent" class="c-diagnostic__percent"></p>
    </div>

    <br /><br />

    <a href="game-injury-treat.html" class="c-button c-button--primary outline">Continuer</a>

    <div class="c-footer">
        <p>[nom_de_la_partie_#139751 | patient #ID19742</p>
    </div>
{% endblock %}
<!-- //END page Content -->

<!-- Custom JS -->
{% block custom_js %}
    <script>
        /*
         * Diagnostic
         */
        const msg = [
            'Connexion au serveurs...',
            'Optimisation des assets...',
            'Application du dernier patch...',
            'Préparation du café...',
            'Mise à jour des seringues',
            'Préparation des bandages',
            'Winter is coming...',
            'Merci de patienter consultation du manuel',
        ];

        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }

        function startDiagnostic(duration) {
            const progress = document.getElementById('progress');
            const progress_percent = document.getElementById('progress_percent');
            const progress_msg = document.getElementById('progress_msg');

            const interval = 100; // ms
            const steps = (duration * 1000) / interval;
            let current = 0;

            const timer = setInterval(() => {
                current++;
                const percent = (current / steps) * 100;
                progress.style.width = percent + '%';
                progress_percent.textContent = Math.floor(percent) + '%';

                console.log(current);

                if (percent == '20') {
                    let rand = getRandomInt(msg.length);
                    progress_msg.textContent = msg[rand];
                }

                if (percent == '40') {
                    let rand = getRandomInt(msg.length);
                    progress_msg.textContent = msg[rand];
                }

                if (percent == '60') {
                    let rand = getRandomInt(msg.length);
                    progress_msg.textContent = msg[rand];
                }

                if (percent == '80') {
                    let rand = getRandomInt(msg.length);
                    progress_msg.textContent = msg[rand];
                }

                if (current >= steps) {
                    clearInterval(timer);
                }
            }, interval);
        }

        startDiagnostic(10);
    </script>
{% endblock %}
