<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Le patient souffre d’une Fracture" %}
{% set body_class = "" %}
{% set content_class = "c-content--page" %}

{% set header = { show: true } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <h1 class="c-title">{{ page_title }}</h1>

    <ul>
        <li>
            <h2 class="c-subtitle">Immobilisation</h2>
            <p>Immobilliser le membre fracturé avec un bandage</p>
        </li>
        <li>
            <h2 class="c-subtitle">Immobilisation</h2>
            <p>Injecter l’analgèsique</p>
        </li>
        <li>
            <h2 class="c-subtitle">Atelle</h2>
            <p>Poser une attelle</p>
        </li>
    </ul>

    <a href="game-end.html" class="c-button c-button--primary outline">Continuer</a>
{% endblock %}

<!-- //END page Content -->
