<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
<!-- prettier-ignore -->
{% set page_title = "Créer une partie" %}
{% set body_class = "" %}

{% set header = {show: true, backUrl: "index.html", backLabel: "accueil" } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}

<div class="c-content c-content--page">
    <h1 class="c-title">{{page_title}}</h1>
    <form class="c-form" action="game-start.html">
        <div class="c-field">
            <label class="c-label" for="game_name">Nom de la partie *</label>
            <input class="c-input" value="Old scarab 3" type="text" id="game_name" />
        </div>

        <button type="submit" class="c-button c-button--primary">Créer la partie</button>
    </form>
</div>
{% endblock %}

<!-- //END page Content -->
