<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Localisation de la blessure" %}
{% set body_class = "" %}
{% set content_class = "c-content--page" %}

{% set header = { show: true } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <h1 class="c-title">{{ page_title }}</h1>

    <div class="c-injuryArea">
        <ul class="c-injuryArea__grid">
            <li class="c-injuryArea__gridItem head">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Tête
                </a>
            </li>
            <li class="c-injuryArea__gridItem left_arm">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Bras gauche
                </a>
            </li>
            <li class="c-injuryArea__gridItem thorax">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Thorax
                </a>
            </li>
            <li class="c-injuryArea__gridItem right_arm">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Bras droit
                </a>
            </li>
            <li class="c-injuryArea__gridItem left_leg">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Jambe gauche
                </a>
            </li>
            <li class="c-injuryArea__gridItem pelvis">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Pelvis
                </a>
            </li>
            <li class="c-injuryArea__gridItem right_leg">
                <a class="c-button c-button--primary outline" href="game-injury-protection.html">
                    Jambe droite
                </a>
            </li>
        </ul>
        <img class="c-injuryArea__body" src="assets/img/body.svg" alt="" />
    </div>

    <div class="c-footer">
        <p>[nom_de_la_partie_#139751 | patient #ID19742</p>
    </div>
{% endblock %}

<!-- //END page Content -->
