<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
<!-- prettier-ignore -->
{% set page_title = "Patient soigné !" %}
{% set body_class = "" %}

{% set header = { show: true, homeBtn: true, statsBtn: true} %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}

<div class="c-content c-content--game">
    <h1 class="c-title">{{page_title}}</h1>
    <a href="game-start.html" class="c-button c-button--primary outline">Retour à l'accueil</a>
</div>

{% endblock %}

<!-- //END page Content -->
