<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Accueil" %}
{% set body_class = "" %}
{% set content_class = "c-content--hp" %}

{% set header = { show: false, backUrl: "" } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <a href="#" class="c-logo {{ logo.class }}">
        <img src="assets/img/logo.svg" alt="Logo" width="200" height="200" />
    </a>

    <ul class="c-buttonList">
        <li class="c-buttonList__item">
            <a class="c-button c-button--primary" href="game-start.html">Continuer la partie</a>
        </li>
        <li class="c-buttonList__item">
            <a class="c-button c-button--secondary" href="game-add.html">Nouvelle partie</a>
        </li>
        <li class="c-buttonList__item">
            <a class="c-button c-button--secondary" href="game-list.html">Charger une partie</a>
        </li>
        <li class="c-buttonList__item">
            <a class="c-button c-button--secondary" href="app-settings.html">Options</a>
        </li>
    </ul>
{% endblock %}

<!-- //END page Content -->
