/*-----------------------------------------------------------------------------------------------------
  [utilities:layout]
-------------------------------------------------------------------------------------------------------*/

.u-full-h {
    height: 100%;
}

.u-full-w {
    width: 100%;
}

.u-viewport-h {
    height: 100vh;
}

.u-viewport-w {
    width: 100vw;
}

.u-viewport-w-full-inContainer {
    width: 100vh;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-enlarge-link {
    position: relative;

    a:before {
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        outline-color: inherit;
        outline-offset: 2px;
        outline-style: inherit;
        outline-width: 2px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

/*
* max width
*/
@each $width, $value in $maxWidth {
    .u-max-w-#{$width} {
        max-width: #{$value} !important;
    }
}

// responsive classe
@each $bp, $bp_value in $breakpoints {
    @include mq(max, bp(#{$bp})) {
        @each $width, $value in $maxWidth {
            .u-max-w-#{$width} {
                max-width: #{$value} !important;
            }
        }
    }
}
