/*-----------------------------------------------------------------------------------------------------
  [utilities:radius]
-------------------------------------------------------------------------------------------------------*/

@each $radius, $value in $radius {
    .u-radius-#{$radius} {
        border-radius: #{$value} !important;
    }
}
