/*-----------------------------------------------------------------------------------------------------
  [utilities:text]
-------------------------------------------------------------------------------------------------------*/
.u-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-text-center {
    text-align: center;
}

.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-underline {
    text-decoration: underline;
}

.u-text-decoration-none {
    text-decoration: none;
}

.u-text-wrap-balance {
    text-wrap: balance;
}

.u-line-height-sm {
    line-height: 1.2;
}

.u-line-height-md {
    line-height: 1.4;
}

.u-line-height-lg {
    line-height: 1.6;
}

.u-vertical-align-middle {
    vertical-align: middle;
}

.u-pointer-events-none {
    pointer-events: none;
}

@each $bp, $bp_value in $breakpoints {
    @include mq(max, bp(#{$bp})) {
        .u-text-left\@#{$bp} {
            text-align: left;
        }

        .u-text-right\@#{$bp} {
            text-align: right;
        }

        .u-text-center\@#{$bp} {
            text-align: center;
        }
    }
}
